target
nbactions.xml
nb-configuration.xml
/nbproject/
project.properties
*.iml
.idea/
.project
.settings/
.classpath
runelite-client/src/main/resources/META-INF/MANIFEST.MF
git
classes/artifacts/client_jar/run.bat
classes/artifacts/client_jar/client.jar
!gradle-wrapper.jar
.live/
**/build/*
*/out/
.gradle/
runelite-client/src/main/resources/runelite/*
runelite-client/dependencies.txt
.staging/
hs_err*
replay_pid*
release
plugins.json
test
buildSrc
.github/workflows
gradle/wrapper
config/checkstyle
/src/
/gradle/
/config/
/buildSrc/
/.github/
/buildSrc/
/.github/
/.gradle/
/.idea/
/build/
/config/
/gradle/
/release/
*/warpfarm/*
*/warpherbiboar/*
*/warpvyrekiller/*
/warpfarm/src/main/java/net/warp/plugin/warpfarm/Allotments.java
/build.gradle.kts
/warpfarm/src/main/java/net/warp/plugin/warpfarm/Compost.java
/warpfarm/src/main/java/net/warp/plugin/warpfarm/Tasks/CompostTask.java
/warpfarm/src/main/java/net/warp/plugin/warpfarm/farming/CropState.java
/warpfarm/src/main/java/net/warp/plugin/warpfarm/farming/FarmingPatch.java
/warpfarm/src/main/java/net/warp/plugin/warpfarm/farming/FarmingRegion.java
/warpfarm/src/main/java/net/warp/plugin/warpfarm/farming/FarmingWorld.java
/warpfarm/src/main/java/net/warp/plugin/warpfarm/Tasks/FarmTask.java
/warpfarm/src/main/java/net/warp/plugin/warpfarm/FarmUtil.java
/warpfarm/src/main/java/net/warp/plugin/warpfarm/Flowers.java
/gradlew
/gradlew.bat
/warpfarm/src/main/java/net/warp/plugin/warpfarm/Herbs.java
/warpfarm/src/main/java/net/warp/plugin/warpfarm/Locations.java
/warpfarm/src/main/java/net/warp/plugin/warpfarm/Tasks/LoginTask.java
/warpfarm/src/main/java/net/warp/plugin/warpfarm/Patches.java
/warpfarm/src/main/java/net/warp/plugin/warpfarm/farming/PatchImplementation.java
/warpfarm/src/main/java/net/warp/plugin/warpfarm/farming/PatchState.java
/warpfarm/src/main/java/net/warp/plugin/warpfarm/Patchtest.java
/warpfarm/src/main/java/net/warp/plugin/warpfarm/farming/Produce.java
/settings.gradle.kts
/warpfarm/src/main/java/net/warp/plugin/warpfarm/Tasks/SleepTask.java
/warpfarm/src/main/java/net/warp/plugin/warpfarm/TimerUtil.java
/warpfarm/src/main/java/net/warp/plugin/warpfarm/Tasks/WalkTask.java
/warpfarm/warpfarm.gradle.kts
/warpfarm/src/main/java/net/warp/plugin/warpfarm/WarpFarmConfig.java
/warpfarm/src/main/java/net/warp/plugin/warpfarm/WarpFarmPlugin.java
/warpherbiboar/warpherbiboar.gradle.kts
/warpvyrekiller/warpvyrekiller.gradle.kts
